.Cell {
	height: 8vh;
	width: 8vh;
	border-radius: 2px;
	background-color: #2d2d44;
	transition: background-color 0.7s ease;
	cursor: pointer;
}

.Cell-lit {
	background-color: #33e1ed;
	box-shadow: 0 0 10px #18a4e0;
}
